<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Articles</h1>
        <a href="{{ url_for('add_article') }}" class="btn btn-primary mb-3">Add New Article</a>
        <ul class="list-group">
            {% for article in articles %}
                <li class="list-group-item">
                    <h5>{{ article.title }}</h5>
                    <p>{{ article.content }}</p>
                    <a href="{{ url_for('delete_article', id=article.id) }}" class="btn btn-danger btn-sm">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Optional Bootstrap JS for additional interactivity -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
